.folder{
    display: flex;
    height: 280px;
    width: 200px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: absolute;
    left: 0px;
}
  
  .container {
    padding-top: 40rem;
    left: calc(50% - 300px);
    display: flex;
  }
  
  .card {
    display: flex;
    height: 280px;
    width: 200px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    position: relative;
    left: -50px;
    p{
        padding-right: 4rem;
    }
    
  }
  
  
  
  .card:hover {
    transform: translateX(40px);
    transition: 0.4s ease-out;
    padding-left: 40rem;
    left: 40px;
  }
  
 
  
  .title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
  }
  
  .bar {
    position: absolute;
    top: 100px;
    left: 40px;
    
    
  }
  
  