<section>
   

    <!-- BackFeed 1 -->
    <div class="BackFeed">
        
        <div class="in-flex" id="flex1">

           
            
            <!-- Carousel -->
            <ngb-carousel class="carouselChild carousel-dark">

                <ng-template ngbSlide>
                   <img class="img img-fluid" [src]="imageFaro" [alt]="">

                </ng-template>

                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="imageFaro2" [alt]="">

                </ng-template>
                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="imageFaro3" [alt]="">

                </ng-template>
                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="imageFaro4" [alt]="">

                </ng-template>

            </ngb-carousel>
            
        </div>
            
        <div class="in-flex">
          
            <!-- Descriptions -->
            <div id="btn" class="content">
                <h3>Faro Mazatlán</h3>
                <ul style="padding-top: 2vw;">
                  
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg"  width="19" height="19" fill="black solid" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                            <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
                        </svg>
                        <div class="txt" style="color: black; font-weight: bold; font-size: 1.1rem; padding-bottom: 2vw;">710 MXN POR ADULTO </div> 
                       
                    </li>

                    
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="Red" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                        </svg>
                        <a style="margin-left: .33rem;" href="https://goo.gl/maps/rSrxi66PJmPRjpSZA" target="_blank">Faro Mazatlán</a>
                    </li>
                    
                    
                    <li>
                        <p class="Descripcion">  Descripción:</p>
                        <div class="txt">

                            <input type="checkbox" class="ver-mas-state" id="post-descriptionOne" />
                           
                            <p class="ver-mas-wrap">
                                FaroMazatlan City Tour y faro de Mazatlán. 
                                Visita el faro natural más alto de Mexico 
                                y el que es considerado uno de los más grandes del mundo.
                                <span class="ver-mas-target"> 
                                    Lo que hoy conocemos como el Faro de Mazatlán, 
                                    uno de los faros naturales más altos del mundo, 
                                    está asentado en lo que antiguamente era una isla.
                                    En el año de 1828 la Isla del Crestón se empieza a 
                                    utilizar para el señalamiento marítimo para el puerto de 
                                    Mazatlán, hasta 1930 cuando se realizaran los trabajos 
                                    necesarios para unir este cuerpo de tierra separado 
                                    del puerto y que quedara unido por la escollera como 
                                    lo conocemos hoy.
                                </span>
                        
                            </p>
                            <label for="post-descriptionOne" class="ver-mas-trigger"></label>
     
                        </div>

                    </li>


                                                      
                </ul>       
            </div>

            <div class="BTN">
                <a >Reservar vía WhatsApp</a>
            </div>

        </div>
    </div>





    <!-- BackFeed 2 -->
    <div class="BackFeed">
        
        <div class="in-flex" id="flex1">

           
            
            <!-- Carousel -->
            <ngb-carousel class="carouselChild carousel-dark">

                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="imageAcuario" alt="">

                </ng-template>

                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="imageAcuario2" alt="">

                </ng-template>
                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="imageAcuario3" alt="">

                </ng-template>
                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="imageAcuario4" alt="">

                </ng-template>
                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="imageAcuario5" alt="">

                </ng-template>

            </ngb-carousel>
            
        </div>
            
        <div class="in-flex">
          
            <!-- Descriptions -->
            <div id="btn" class="content">
                <h3>Acuario Mazatlán</h3>
                <ul style="padding-top: 2vw;">
                  
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg"  width="19" height="19" fill="black solid" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                            <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
                        </svg>
                        <div class="txt" style="color: black; font-weight: bold; font-size: 1.1rem; padding-bottom: 2vw;">850 MXN POR ADULTO</div> 
                       
                    </li>

                    
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="Red" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                        </svg>
                        <a style="margin-left: .33rem;" href="https://goo.gl/maps/zHPNFSjh4K6mQjE96" target="_blank">Acuario Mazatlán</a>
                    </li>
                    
                    
                    <li>
                        <p class="Descripcion">  Descripción:</p> 
                        <div class="txt">

                            <input type="checkbox" class="ver-mas-state" id="post-descriptionTwo" />
                           
                            <p class="ver-mas-wrap">
                                AcuarioMazatlan City Tour y acuario Mazatlan.
                    
                                <span class="ver-mas-target"> 
                                    Conoce el acuario de Mazatlán y disfruta de sus
                                    tradicionales espectáculos en vivo con animales marinos                        
                                    y nado con tiburones.
                    
                                </span>
                    
                            </p>
                            <label for="post-descriptionTwo" class="ver-mas-trigger"></label>
                            
                             
                        </div>
                   

                    </li>

                             
                </ul>       
            </div>

            <div class="BTN">
                <a >Reservar vía WhatsApp</a>
            </div>

        </div>
    </div>


    <!-- BackFeed 3 -->
    <div class="BackFeed">
        
        <div class="in-flex" id="flex1">

           
            
            <!-- Carousel -->
            <ngb-carousel class="carouselChild carousel-dark">

                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="image10Islas" alt="">

                </ng-template>

                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="image10Islas2" alt="">

                </ng-template>
                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="image10Islas3" alt="">

                </ng-template>
                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="image10Islas4" alt="">

                </ng-template>
                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="image10Islas5" alt="">

                </ng-template>
                

            </ngb-carousel>
            
        </div>
            
        <div class="in-flex">
          
            <!-- Descriptions -->
            <div id="btn" class="content">
                <h3>10 Islas Mazatlán</h3>
                <ul style="padding-top: 2vw;">
                  
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg"  width="19" height="19" fill="black solid" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                            <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
                        </svg>
                        <div class="txt" style="color: black; font-weight: bold; font-size: 1.1rem; padding-bottom: 2vw;">1,650 MXN POR ADULTO </div> 
                       
                    </li>

                    
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="Red" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                        </svg>
                        <a style="margin-left: .33rem;" href="" target="_blank">10 Islas Mazatlán M</a>
                    </li>
                    
                    
                    <li>
                        <p class="Descripcion">  Descripción:</p> 
                        <div class="txt">

                            <input type="checkbox" class="ver-mas-state" id="post-descriptionThree" />
                           
                            <p class="ver-mas-wrap">
                                Las 10 islas más bellas y famosas del puerto.
                    
                                <span class="ver-mas-target"> 
                                    A bordo de una lancha semirrígida de alta velocidad
                                    recorremos la bahía mientras descubrimos diferentes
                                    islas, islotes, rocas y playas que nos regalan
                                    la oportunidad perfecta para tomar fotografías.
                    
                                </span>
                    
                            </p>
                            <label for="post-descriptionThree" class="ver-mas-trigger"></label>
                            
                             
                        </div>
                    

                    </li>


                                                        
                </ul>       
            </div>

            <div class="BTN">
                <a >Reservar vía WhatsApp</a>
            </div>

        </div>
    </div>


    <!-- BackFeed 4 -->
    <div class="BackFeed">
        
        <div class="in-flex" id="flex1">

           
            
            <!-- Carousel -->
            <ngb-carousel class="carouselChild carousel-dark">

                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="imageBallenas" alt="">

                </ng-template>

                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="imageBallenas2" alt="">

                </ng-template>
                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="imageBallenas3" alt="">

                </ng-template>
                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="imageBallenas4" alt="">

                </ng-template>
                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="imageBallenas5" alt="">

                </ng-template>

            </ngb-carousel>
            
        </div>
            
        <div class="in-flex">
          
            <!-- Descriptions -->
            <div id="btn" class="content">
                <h3>Avistamiento De Ballenas</h3>
                <ul style="padding-top: 2vw;">
                  
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg"  width="19" height="19" fill="black solid" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                            <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
                        </svg>
                        <div class="txt" style="color: black; font-weight: bold; font-size: 1.1rem; padding-bottom: 2vw;">2,000 MXN POR ADULTO </div> 
                       
                    </li>

                    
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="Red" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                        </svg>
                        <a style="margin-left: .33rem;" href="" target="_blank">Avistamiento De Ballenas M</a>
                    </li>
                    
                    
                    <li>
                        <p class="Descripcion">  Descripción:</p> 
                        <div class="txt">

                            <input type="checkbox" class="ver-mas-state" id="post-descriptionFour" />
                           
                            <p class="ver-mas-wrap">
                                Ya conoces de cerca a estos bellos animales marinos?
                                <br>
                                Con el invierno llegan a Mazatlán las gigantes más
                                gentiles del océano — las ballenas jorobadas.
                    
                                <span class="ver-mas-target"> 
                                    En este tour disfrutarás de un divertido recorrido
                                    por la bahía en el que encontraremos multitud de
                                    especies marinas.
                    
                                </span>
                    
                            </p>
                            <label for="post-descriptionFour" class="ver-mas-trigger"></label>
                            
                             
                        </div>

                    </li>

                                        
                </ul>       
            </div>

            <div class="BTN">
                <a >Reservar vía WhatsApp</a>
            </div>

        </div>
    </div>


    <!-- BackFeed 5 -->
    <div class="BackFeed">
        
        <div class="in-flex" id="flex1">

           
            
            <!-- Carousel -->
            <ngb-carousel class="carouselChild carousel-dark">

                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="imagePajaros" alt="">

                </ng-template>

                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="imagePajaros2" alt="">

                </ng-template>
                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="imagePajaros3" alt="">

                </ng-template>
                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="imagePajaros4" alt="">

                </ng-template>

            </ngb-carousel>
            
        </div>
            
        <div class="in-flex">
          
            <!-- Descriptions -->
            <div id="btn" class="content">
                <h3>Isla De Pajaros</h3>
                <ul style="padding-top: 2vw;">
                  
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg"  width="19" height="19" fill="black solid" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                            <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
                        </svg>
                        <div class="txt" style="color: black; font-weight: bold; font-size: 1.1rem; padding-bottom: 2vw;">1,050 MXN POR ADULTO </div> 
                       
                    </li>

                    
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="Red" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                        </svg>
                        <a style="margin-left: .33rem;" href="https://goo.gl/maps/2Su5ENMCsVuioBm18" target="_blank">Isla De Pajaros</a>
                    </li>
                    
                    
                    <li>
                        <p class="Descripcion">  Descripción:</p> 
                        <div class="txt">

                            <input type="checkbox" class="ver-mas-state" id="post-descriptionFive" />
                           
                            <p class="ver-mas-wrap">
                                Es considerado el hogar de más de 400 especies de aves y
                                considerada una de las más bonitas islas de Mazatlán.
                    
                                <span class="ver-mas-target"> 
                                    Más de 400 especies de aves viven en la Isla de Pájaros.
                                    Si te encantan las aves, ¡debes poner esta aventura en tu lista
                                    de tareas pendientes!
                    
                                </span>
                    
                            </p>
                            <label for="post-descriptionFive" class="ver-mas-trigger"></label>
                            
                             
                        </div>

                    </li>

                                  
                </ul>       
            </div>

            <div class="BTN">
                <a >Reservar vía WhatsApp</a>
            </div>

        </div>
    </div>


    <!-- BackFeed 6 -->
    <div class="BackFeed">
        
        <div class="in-flex" id="flex1">

           
            
            <!-- Carousel -->
            <ngb-carousel class="carouselChild carousel-dark">

                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="imageVenados" alt="">

                </ng-template>

                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="imageVenados2" alt="">

                </ng-template>
                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="imageVenados3" alt="">

                </ng-template>
                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="imageVenados4" alt="">

                </ng-template>

            </ngb-carousel>
            
        </div>
            
        <div class="in-flex">
          
            <!-- Descriptions -->
            <div id="btn" class="content">
                <h3>Isla De Venados</h3>
                <ul style="padding-top: 2vw;">
                  
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg"  width="19" height="19" fill="black solid" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                            <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
                        </svg>
                        <div class="txt" style="color: black; font-weight: bold; font-size: 1.1rem; padding-bottom: 2vw;">1,050 MXN POR ADULTO                        </div> 
                       
                    </li>

                    
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="Red" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                        </svg>
                        <a style="margin-left: .33rem;" href="https://goo.gl/maps/oTqBw4qqpuyJ6Tms8" target="_blank">Isla De Venados</a>
                    </li>
                    
                    
                    <li>
                        <p class="Descripcion">  Descripción:</p> 
                        <div class="txt">

                            <input type="checkbox" class="ver-mas-state" id="post-descriptionSix" />
                           
                            <p class="ver-mas-wrap">
                                Considerada la isla favorita de los sinaloenses.
                    
                                <span class="ver-mas-target"> 
                                    Las tres islas de Mazatlán son consideradas como uno
                                    de los símbolos más importantes de la ciudad.
                                    Son un espacio ecológico y recreativo.
                                    Conoce la más popular, Isla de Venados. 
                    
                                </span>
                    
                            </p>
                            <label for="post-descriptionSix" class="ver-mas-trigger"></label>
                            
                             
                        </div>

                    </li>

                                       
                </ul>       
            </div>

            <div class="BTN">
                <a >Reservar vía WhatsApp</a>
            </div>

        </div>
    </div>


    <!-- BackFeed 7 -->
    <div class="BackFeed">
        
        <div class="in-flex" id="flex1">

           
            
            <!-- Carousel -->
            <ngb-carousel class="carouselChild carousel-dark">

                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="imageNoria" alt="">

                </ng-template>

                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="imageNoria2" alt="">

                </ng-template>
                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="imageNoria3" alt="">

                </ng-template>
                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="imageNoria4" alt="">

                </ng-template>

            </ngb-carousel>
            
        </div>
            
        <div class="in-flex">
          
            <!-- Descriptions -->
            <div id="btn" class="content">
                <h3>La Noria Ruta vinata</h3>
                <ul style="padding-top: 2vw;">
                  
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg"  width="19" height="19" fill="black solid" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                            <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
                        </svg>
                        <div class="txt" style="color: black; font-weight: bold; font-size: 1.1rem; padding-bottom: 2vw;">1,380 MXN POR ADULTO </div> 
                       
                    </li>

                    
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="Red" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                        </svg>
                        <a style="margin-left: .33rem;" href="" target="_blank">La Noria Ruta vinata M</a>
                    </li>
                    
                    
                    <li>
                        <p class="Descripcion">  Descripción:</p> 
                        <div class="txt">

                            <input type="checkbox" class="ver-mas-state" id="post-descriptionSeven" />
                           
                            <p class="ver-mas-wrap">
                                La Noria es la primera vinata fundada en el puerto
                                de Mazatlán, y la productora del mejor mezcal del puerto,
                                ubicada en la noria Mazatlan, pueblito mágico.
                    
                                <span class="ver-mas-target"> 
                                    Mazatlán es mucho más que sol, arena y mar.
                                Las tierras del municipio de Mazatlán y del sur
                                de Sinaloa cuentan con una rica historia:
                                la producción de mezcal, la Revolución y otros
                                acontecimientos.
                    
                                </span>
                    
                            </p>
                            <label for="post-descriptionSeven" class="ver-mas-trigger"></label>
                            
                             
                        </div>
                      

                    </li>


                                                  
                </ul>       
            </div>

            <div class="BTN">
                <a >Reservar vía WhatsApp</a>
            </div>

        </div>
    </div>


</section>