.section1{
    background-color: #f8833d;
    height: 500px;
    

    .content{
        
        h1{
            font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
            padding-top: 6em;
            color: black;
            text-align: center;
        }
    }
}







.section2{
    height: 100rem;
    width: 100%;

    .BackFeed{
        background-image: linear-gradient( #f8833d, #ffce00 );
        background-color: none;
        width: 100%;
        height: 100%;
        
        .carousel{
           
            background-color: transparent;
            width: 100%;
            height: 115vw;
            padding: 1rem;
   


            .template{

             
              
            }

            .picsum-img-wrapper{
                padding-left: 8vw;
                padding-right: 8vw;
                width: 100%;
                height: 100vw;
                background-color: transparent;

              
                    
                


                h3{
                    background-color: #ffff;
                    font-size: 5vw;
                    padding: .5rem;
                    text-align: center;
                    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
                    text-transform: uppercase;
                    font-weight: bold;
                }

                .in-flex{
                    display: flex;
                    min-width: 250px;
                    flex-wrap: wrap;

                    p{
                        
                        flex: 1;
                        text-align: justify;
                        font-size: 1.9vw;
                        font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                        padding: 2vw;
                        width: 60vw;
                        height: 75vw;
                        background-color: #ffff;
                        
                    }

                    .carousel{
                        height: 55vw;
                        background-color: #ffff;
                        border: none;
    
                        img{
                            
                            width: 100%;
                            height: 40vw;
                            background-color: #ffff;
                            min-height: 10%;
                            background: no-repeat;
                            background-size: cover;
                            background-position: center;
                            transition:  1s all ease-in;
    
                        }
                    }
                }

               

                a{
                    color: black;
                    padding-top: .7rem;
                    padding-bottom: .7rem;
                    padding-right: 1.5rem;
                    padding-left: 1.5rem;
                    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
                    text-decoration: none;
                    background: linear-gradient(to right, #ffce00, #f8833d);      
                    transition: .2s all ease-in;              
                } 
                a:hover{
                    
                    color: #ffff;
                    background: linear-gradient(to right, #f8833d, #ffce00);

                }
                
               
              
               
            }
        }

    }
}