<section class="section1">
    <div class="content">
        <h1>Paseos</h1>
    </div>
</section>






<section class="section2">

    <div class="BackFeed">
        <ngb-carousel class="carousel carousel-dark slide">
    




            <ng-template ngbSlide>
            
                <div class="picsum-img-wrapper">
                    <h3>Faro Mazatlán</h3>

                    <ngb-carousel class="carousel carousel-dark slide"  *ngIf="imageFaro">
                        <ng-template ngbSlide>
                            <img class="img img-fluid" [src]="imageFaro" [alt]="">

                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="img img-fluid" [src]="imageFaro2" alt="">

                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="img img-fluid" [src]="imageFaro3" alt="">

                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="img img-fluid" [src]="imageFaro4" alt="">

                        </ng-template>
                    </ngb-carousel>

                    <p></p>
                    <a href="">Reservar vía WhatsApp</a>
                    <!-- <img class="img-fluid" [src]="url" alt="Random first slide" /> -->
                </div>
                  
            </ng-template>
            







            <ng-template ngbSlide >
            
                <div class="picsum-img-wrapper">
                    <h3>Acuario Mazatlán</h3>
                    <ngb-carousel class="carousel carousel-dark slide"  *ngIf="imageAcuario">
                        <ng-template ngbSlide>
                            <img class="img img-fluid" [src]="imageAcuario" [alt]="">

                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="img img-fluid" [src]="imageAcuario2" alt="">

                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="img img-fluid" [src]="imageAcuario3" alt="">

                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="img img-fluid" [src]="imageAcuario4" alt="">

                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="img img-fluid" [src]="imageAcuario5" alt="">

                        </ng-template>
                    </ngb-carousel>

                    <p></p>
                    <a href="">Reservar vía WhatsApp</a>
                </div>
                   
            </ng-template>
            









            


            <ng-template ngbSlide >
            
                <div class="picsum-img-wrapper">
                    <h3>10 Islas Mazatlán</h3>
                    <ngb-carousel class="carousel carousel-dark slide"  *ngIf="image10Islas">
                        <ng-template ngbSlide>
                            <img class="img img-fluid" [src]="image10Islas" [alt]="">

                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="img img-fluid" [src]="image10Islas2" alt="">

                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="img img-fluid" [src]="image10Islas3" alt="">

                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="img img-fluid" [src]="image10Islas4" alt="">

                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="img img-fluid" [src]="image10Islas5" alt="">

                        </ng-template>
                    </ngb-carousel>

                    <p></p>
                    <a href="">Reservar vía WhatsApp</a>
                </div>
                   
            </ng-template>






            


            <ng-template ngbSlide >
            
                <div class="picsum-img-wrapper">
                    <h3>Avistamiento De Ballenas</h3>
                    <ngb-carousel class="carousel carousel-dark slide"  *ngIf="imageBallenas">
                        <ng-template ngbSlide>
                            <img class="img img-fluid" [src]="imageBallenas" [alt]="">

                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="img img-fluid" [src]="imageBallenas2" alt="">

                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="img img-fluid" [src]="imageBallenas3" alt="">

                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="img img-fluid" [src]="imageBallenas4" alt="">

                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="img img-fluid" [src]="imageBallenas5" alt="">

                        </ng-template>
                    </ngb-carousel>

                    <p></p>
                    <a href="">Reservar vía WhatsApp</a>
                </div>
                   
            </ng-template>






            


            <ng-template ngbSlide >
            
                <div class="picsum-img-wrapper">
                    <h3>Isla De Pajaros </h3>
                    <ngb-carousel class="carousel carousel-dark slide"  *ngIf="imagePajaros">
                        <ng-template ngbSlide>
                            <img class="img img-fluid" [src]="imagePajaros" [alt]="">

                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="img img-fluid" [src]="imagePajaros2" alt="">

                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="img img-fluid" [src]="imagePajaros3" alt="">

                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="img img-fluid" [src]="imagePajaros4" alt="">

                        </ng-template>
                       
                    </ngb-carousel>

                    <p></p>
                    <a href="">Reservar vía WhatsApp</a>
                </div>
                   
            </ng-template>







            


            <ng-template ngbSlide >
            
                <div class="picsum-img-wrapper">
                    <h3>Isla De Venados</h3>
                    <ngb-carousel class="carousel carousel-dark slide"  *ngIf="imageVenados">
                        <ng-template ngbSlide>
                            <img class="img img-fluid" [src]="imageVenados" [alt]="">

                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="img img-fluid" [src]="imageVenados2" alt="">

                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="img img-fluid" [src]="imageVenados3" alt="">

                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="img img-fluid" [src]="imageVenados4" alt="">

                        </ng-template>
                      
                    </ngb-carousel>

                    <p></p>
                    <a href="">Reservar vía WhatsApp</a>
                </div>
                   
            </ng-template>







            


            <ng-template ngbSlide >
            
                <div class="picsum-img-wrapper">
                    <h3>La Noria Ruta vinata</h3>
                    <ngb-carousel class="carousel carousel-dark slide"  *ngIf="imageNoria">
                        <ng-template ngbSlide>
                            <img class="img img-fluid" [src]="imageNoria" [alt]="">

                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="img img-fluid" [src]="imageNoria2" alt="">

                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="img img-fluid" [src]="imageNoria3" alt="">

                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="img img-fluid" [src]="imageNoria4" alt="">

                        </ng-template>
                      
                    </ngb-carousel>

                    <p></p>
                    <a href="">Reservar vía WhatsApp</a>
                </div>
                   
            </ng-template>






            
                
                
            
        </ngb-carousel>

    </div>
</section>