
<div class="container">

    <div class="card">

      <h3 class="title">Card</h3>

      <div class="bar">        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus natus ullam ratione tempore at dignissimos beatae cum voluptatum atque. Laboriosam amet provident, veniam aliquam exercitationem quod illum repudiandae minima eveniet.</p>
      </div>

    </div>

    <div class="folder">

      <h3 class="title">Folder</h3>
      <div class="bar"></div>

    </div>
    
  </div>
