
section{
    width: 100%;
    
    //background:linear-gradient( #f8833d, #ffce00) ;
    padding-bottom: 10vw;
    padding-top:25vw;
    padding-left: 4vw;
    padding-right: 4vw;



    .BackFeed{
        margin-bottom: 20vw;
        border-radius: 4vw;
        //background:linear-gradient( #f8833d, #ffce00) ;
        //background-color: none;
        background-color: #ffffff;
      // background: linear-gradient(#ffff, rgb(183, 178, 178), #ffff);        
       display: flex;
        flex-wrap: wrap;
        padding-top: 4vw;
        padding-left: 4vw;
        padding-right: 4vw;
        padding-bottom: 6vw;

      
     

        
        //div flex
        .in-flex{
            flex: 1;
            min-width: 250px;

            ul{
                //padding-top: 4vw;
                

                li{
                    padding-bottom: 1vw;
                  
                    list-style: none;
                    text-align: left;
                    a{
                        color: black;
                        font-weight: bold;
                        text-decoration: none;
                    }
                    .txt{
                        text-align: left;
                        margin-top: -1.5rem;
                        margin-left: 1.3rem;
                    }
                   
                }
            }
           
        

            h3{
                font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
                
                margin-bottom: 1rem;
                text-align: center;
            }

            .carouselChild{
                text-align: center;
                padding-bottom: 1rem;
                
            }

            button{
                color: black;
                font-weight: bold;
               border: none;
               background-color: transparent;
            }
           
          
           

            p{
                font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
               font-size: 1.7vw;
                padding: 3vw;
                text-align: justify;
            
            }
        
          
        
                
            .BTN{
                text-align: center;
                a{
                    margin-top: 20rem;
                    color: black;
                    padding-top: .7rem;
                    padding-bottom: .7rem;
                    padding-right: 1.5rem;
                    padding-left: 1.5rem;
                    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
                    text-decoration: none;
                    background: linear-gradient(to right, #ffce00, #f8833d);      
                    transition: .2s all ease-in;   
                }
        
                a:hover{
                    color: #ffff;
                    background: linear-gradient(to right, #f8833d, #ffce00);
        
                }
            }

        }

       
       

    }

    @media (max-width: 567px){
        .BackFeed{
            padding-top: 3vw;
            padding-left: .5vw;
            padding-right: .5vw;
        }
        
     
    }


}