<footer class="footer-20192">
    
    <div class="site-section">
        
        <div class="container">
            
            
            <div class="row">
                
                <div class="col-sm">

                    <a href="#" class="footer-logo">Club travel maz</a>
                    
                    <p class="copyright">
                        <small>&copy; 2023</small>
                    </p>

                </div>

               

                <div class="col-sm" >

                    <h3>Contactanos</h3>

                    <ul class="list-unstyled links">

                        <li><a href="#">52+ *** *** ****</a></li>

                    </ul>

                </div>
            
               

                

            </div>

        </div>

    </div>

</footer>