

.navbar {
    color: white;
    width: 100%;
    position: fixed;
    z-index: 100;
    margin: auto;
    overflow:hidden;
    float: left;
}

img{
    width: 55px;
    height: 30px;
}

a{
    color: white;
}


li{
    color: white;
}
a:hover{
    color: rgba(255, 255, 0, 0.82);
}




.navbar-toggler{
    color: rgba(255, 255, 255, 0.674);
    background-color: rgba(255, 255, 0, 0.82);
}

