

.navbar {
    background-image: linear-gradient(#ffce00, #f8833d);

    color: white;
    width: 100%;
    position: fixed;
    z-index: 100;
    margin: auto;
    overflow:hidden;
    float: left;
}

img{
    
    width: 55px;
    height: 30px;
}

a{
    color: #ffffff;
}




/*

li{
    color: white;
}
*/









.navbar-toggler{
  border: 1px yellow solid;
}

.navbar-toggler-icon{
    color: yellow;
}

