
<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a routerLink="Home"><img [src]="LogoUrl"> </a> 
   

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"  >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-3 mb-lg-0 ">
        <li class="nav-item" style=" margin-left: 1vw;">
          <a class="nav-link " routerLinkActive="active" aria-current="page" routerLink="Home" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse">Home</a>
        </li>

        <li class="nav-item" style=" margin-left: 1vw;">
          <a class="nav-link " routerLinkActive="active" routerLink="Departamentos" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse">Departamentos</a>
        </li>

        <li class="nav-item" style=" margin-left: 1vw;">
          <a   class="nav-link" routerLinkActive="active" routerLink="Hoteles" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse">Hoteles</a>
        </li>

        <li class="nav-item" style=" margin-left: 1vw;">
          <a   class="nav-link" routerLinkActive="active" routerLink="Paseos" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse">Paseos</a>
        </li>

        <li class="nav-item" style=" margin-left: 1vw;">
          <a class="nav-link" routerLinkActive="active" routerLink="Yates" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse">Yates</a>
        </li>

      

          <!--
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="Hoteles" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Hoteles
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
          -->
          
      
        
        
      </ul>

      
        <!--
        <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
        -->
      
    
      

    </div>
  </div>
</nav>






