.section1{
    background-color: #f8833d;
    height: 400px;

    .content{

        h1{
            font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
            padding-top: 4em;
            color: black;
            text-align: center;
        }
    }
}

.section2{
    width: 100%;
    height: 800rem;
   


    .BackFeed{
        background:linear-gradient( #f8833d, #ffce00) ;
        background-color: none;
        width: 100%;
        height: 100%;

        .picsum-img-wrapper{
            padding-left: 9.7vw;
            padding-right: 9.7vw;
            width: 100%;
            height: 160vw;
            background-color: transparent;

            h3{
                font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
                background-color: #ffff;
                font-size: 5vw;
                padding: .5rem;
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;

            }

            img{
                padding: 1.6vw;
                width: 100%;
                background: linear-gradient(#ffff, #a6dda2);

            }

            p{
                color: black;
                text-align: justify;
                font-size: 3vw;
                font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
                padding: 2vw;
                background: linear-gradient(#a6dda2, #ffff);

            }
            
                
            a{
                margin-top: 20rem;
                color: black;
                padding-top: .7rem;
                padding-bottom: .7rem;
                padding-right: 1.5rem;
                padding-left: 1.5rem;
                font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
                text-decoration: none;
                background: linear-gradient(to right, #ffce00, #f8833d);      
                transition: .2s all ease-in;   
            }

            a:hover{
                color: #ffff;
                background: linear-gradient(to right, #f8833d, #ffce00);

            }
        }
    }
}