<section>
   

    <!-- BackFeed 1 -->
    <div class="BackFeed">
        
        <div class="in-flex" id="flex1">

           
            
            <!-- Carousel -->
            <ngb-carousel class="carouselChild carousel-dark">

                <ng-template ngbSlide>
                   <img class="img img-fluid" [src]="Morita" [alt]="">
                </ng-template> <ng-template ngbSlide>
                                    <img class="img img-fluid" [src]="Morita2" [alt]="">
                                </ng-template>  <ng-template ngbSlide>
                                                    <img class="img img-fluid" [src]="Morita3" [alt]="">
                                                </ng-template>
                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="Morita4" [alt]="">
                </ng-template>  <ng-template ngbSlide>
                                    <img class="img img-fluid" [src]="Morita5" [alt]="">
                                </ng-template>  <ng-template ngbSlide>
                                                    <img class="img img-fluid" [src]="Morita6" [alt]="">
                                                </ng-template>
                
                
                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="Morita7" [alt]="">
                </ng-template> <ng-template ngbSlide>
                                    <img class="img img-fluid" [src]="Morita8" [alt]="">
                                </ng-template>  <ng-template ngbSlide>
                                                    <img class="img img-fluid" [src]="Morita9" [alt]="">
                                                </ng-template>
               
                
                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="Morita10" [alt]="">
                </ng-template> <ng-template ngbSlide>
                                    <img class="img img-fluid" [src]="Morita11" [alt]="">
                                </ng-template>  <ng-template ngbSlide>
                                                    <img class="img img-fluid" [src]="Morita12" [alt]="">
                                                </ng-template>
               
                
                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="Morita13" [alt]="">
                </ng-template>  <ng-template ngbSlide>
                                    <img class="img img-fluid" [src]="Morita14" [alt]="">
                                </ng-template>  <ng-template ngbSlide>
                                                    <img class="img img-fluid" [src]="Morita15" [alt]="">
                                                </ng-template>
              
                
                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="Morita16" [alt]="">
                </ng-template>  <ng-template ngbSlide>
                                    <img class="img img-fluid" [src]="Morita17" [alt]="">
                                </ng-template>
                
                

            </ngb-carousel>
            
        </div>
            
        <div class="in-flex">
          
            <!-- Descriptions -->
            <div id="btn" class="content">
                <h3>Yate Morita - Excel 22ft.</h3>
                <ul style="padding-top: 2vw;">
                  
                    <li>
                 
                        <p class="Precio">MXN</p><div class="TxtPrecio" >1,900/ Por hora. (Mínimo 3 horas).</div> 
                       
                    </li>

                    
                    <li>
                        <p class="CapacidadM">Capacidad maxima:</p>
                        <div class="TxtCapacidad"> 7 pasajeros. </div>
                    </li>
                
                    <li>
                        <ul>
                            <p class="Incluye">Incluye:</p>
                                
                            <li  style="list-style: circle; margin-left: 1rem;">Acceso libre de alimentos.</li>
                            <li  style="list-style: circle; margin-left: 1rem;">Chalecos Salvavidas.</li>
                            <li  style="list-style: circle; margin-left: 1rem;">Equipo de sonido.</li>
                            <li  style="list-style: circle; margin-left: 1rem;">Gastos de peaje.</li>
                            <li  style="list-style: circle; margin-left: 1rem;">1 Camarote.</li>
                            <li  style="list-style: circle; margin-left: 1rem;">Hielera.</li>           
                            <li  style="list-style: circle; margin-left: 1rem;">1 Baño.</li>

                        </ul>
                    </li>
                    
                    <li>
                  
                        <div class="txt">
                              

                                <br><br>
                                <p class="Descripcion">Descripción:</p>
                              
                                
                                Disfruta de un momento único de diversión en el mar querando uno de nuestros yates, 
                                junto con hasta siete personas. Explora las playas de Isla Venados o Isla Pájaros 
                                mientras gozas de un hermoso atardecer a bordo de este gran yate. 
                                Daremos sugerencias y te guiaremos desde Mazatlán para que vivas la experiencia 
                                más divertida de todas. La renta de yates en Mazatlán te ofrece la libertad de 
                                disfrutar de la mejor aventura en el mar. ¡Ya no hay excusas para no vivir una 
                                experiencia increíble y única!
                                <br><br>
                                
                                

                        </div>

                    </li>


                                                      
                </ul>       
            </div>

            <div class="BTN">
                <a >Reservar vía WhatsApp</a>
            </div>

        </div>
    </div>





    <!-- BackFeed 2 -->
    <div class="BackFeed">
        
        <div class="in-flex" id="flex1">

           
            
            <!-- Carousel -->
            <ngb-carousel class="carouselChild carousel-dark">

                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="Vikinga" alt="">
                </ng-template>  <ng-template ngbSlide>
                                    <img class="img img-fluid" [src]="Vikinga2" alt="">
                                </ng-template> <ng-template ngbSlide>
                                                    <img class="img img-fluid" [src]="Vikinga3" alt="">
                                                </ng-template>
                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="Vikinga4" alt="">
                </ng-template>  <ng-template ngbSlide>
                                    <img class="img img-fluid" [src]="Vikinga5" alt="">
                                </ng-template> <ng-template ngbSlide>
                                                    <img class="img img-fluid" [src]="Vikinga6" alt="">
                                                </ng-template>
                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="Vikinga7" alt="">
                </ng-template>  <ng-template ngbSlide>
                                    <img class="img img-fluid" [src]="Vikinga8" alt="">
                                </ng-template>
            
            </ngb-carousel>
            
        </div>
            
        <div class="in-flex">
          
            <!-- Descriptions -->
            <div id="btn" class="content">
                <h3>Trimaran Vikinga 42ft.</h3>
                <ul style="padding-top: 2vw; ">
                  
                    <li>
                        <p class="Precio">MXN</p> <div class="TxtPrecio"> 8,000/ Por 5 horas. (Sólo 5 horas).</div>     
                    </li>

                    
                    <li>
                        <p class="CapacidadM">Capacidad maxima:</p>
                        <div class="TxtCapacidad"> 25 pasajeros. </div>
                    </li>
                
                    <li>
                        <ul>
                            <p class="Incluye">Incluye:</p>
                                
                            <li style="list-style: circle; margin-left: 1rem;">Acceso libre de alimentos.</li>
                            <li style="list-style: circle; margin-left: 1rem;">Chalecos Salvavidas.</li>
                            <li style="list-style: circle; margin-left: 1rem;">Equipo de snorkel.</li>
                            <li style="list-style: circle; margin-left: 1rem;">Equipo de sonido.</li>
                            <li style="list-style: circle; margin-left: 1rem;">Gastos de peaje.</li>
                            <li style="list-style: circle; margin-left: 1rem;">1 Camarote.</li>
                            <li style="list-style: circle; margin-left: 1rem;">Marinero.</li>
                            <li style="list-style: circle; margin-left: 1rem;">Capitan.</li>
                            <li style="list-style: circle; margin-left: 1rem;">Hielera.</li>
                            <li style="list-style: circle; margin-left: 1rem;">2 Baño.</li>
                            <li style="list-style: circle; margin-left: 1rem;">Kayak.</li>
                                                                         
                        </ul>
                    </li>
                    
                    <li>
                  
                        <div class="txt">
                              

                                <br><br>
                                <p class="Descripcion">  Descripción:</p>
                              
                                Esta embarcación es la solución perfecta para la renta de yates con un diseño 
                                moderno y cómodo. Visita los cercanos destinos como Isla Venados, Piedra Blanca 
                                y el famoso El Faro de Mazatlán. 
                                Disfruta de una experiencia de lujo única con los amigos y familiares en la que podrás 
                                organizar fiestas personalizadas a tu gusto. 
                                Te esperamos a bordo para descubrir este precioso destino de una forma virtualmente 
                                irrepetible. ¡Aprovecha la oportunidad única que te ofrece Vikinga!
                                <br><br>
                                
                                

                        </div>

                    </li>


                                                      
                </ul>       
            </div>

            <div class="BTN">
                <a >Reservar vía WhatsApp</a>
            </div>

        </div>
    </div>


    <!-- BackFeed 3 -->
    <div class="BackFeed">
        
        <div class="in-flex" id="flex1">

            <!-- Carousel -->
            <ngb-carousel class="carouselChild carousel-dark">

                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="Valhala" alt="">
                </ng-template>  <ng-template ngbSlide>
                                    <img class="img img-fluid" [src]="Valhala2" alt="">
                                </ng-template>  <ng-template ngbSlide>
                                                    <img class="img img-fluid" [src]="Valhala3" alt="">
                                                </ng-template>
                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="Valhala4" alt="">
                </ng-template>  <ng-template ngbSlide>
                                    <img class="img img-fluid" [src]="Valhala5" alt="">
                                </ng-template>  <ng-template ngbSlide>
                                                    <img class="img img-fluid" [src]="Valhala6" alt="">
                                                </ng-template>
            </ngb-carousel>
            
        </div>
            
        <div class="in-flex">
          
            <!-- Descriptions -->
            <div id="btn" class="content">
                <h3>Yate Valhala - Trowler 43ft.</h3>
                <ul style="padding-top: 2vw;">
                  
                    <li>
                        <p class="Precio">MXN</p> <div class="TxtPrecio">8,000/ Por 5 horas. (Sólo 5 horas).</div> 
                    </li>

                    
                    <li>
                        <p class="CapacidadM">Capacidad maxima:</p>
                        <div class="TxtCapacidad"> 15 pasajeros. </div>
                    </li>
                
                    <li>
                        <ul>
                            <p class="Incluye">Incluye:</p>
                        
                            <li style="list-style: circle; margin-left: 1rem;">Acceso libre de alimentos y bebidas.</li>
                            <li style="list-style: circle; margin-left: 1rem;">Agua embotellada.</li>
                            <li style="list-style: circle; margin-left: 1rem;">Aire acondicionado.</li>
                            <li style="list-style: circle; margin-left: 1rem;">Area común.</li>
                            <li style="list-style: circle; margin-left: 1rem;">Caña de pescar.</li>
                            <li style="list-style: circle; margin-left: 1rem;">Capitan.</li>
                            <li style="list-style: circle; margin-left: 1rem;">Chalecos Salvavidas.</li>
                            <li style="list-style: circle; margin-left: 1rem;">Equipo de snorkel.</li>
                            <li style="list-style: circle; margin-left: 1rem;">Equipo de sonido.</li>
                            <li style="list-style: circle; margin-left: 1rem;">Flybridge acolchonado.</li>
                            <li style="list-style: circle; margin-left: 1rem;">Gastos de peaje.</li>
                            <li style="list-style: circle; margin-left: 1rem;">Hielera.</li>
                            <li style="list-style: circle; margin-left: 1rem;">Hielo.</li>
                            <li style="list-style: circle; margin-left: 1rem;">Kayac.</li>
                            <li style="list-style: circle; margin-left: 1rem;">Marinero.</li>
                            <li style="list-style: circle; margin-left: 1rem;">Parrilla.</li>
                            <li style="list-style: circle; margin-left: 1rem;">Terraza.</li>
                            <li style="list-style: circle; margin-left: 1rem;">1 Camarote.</li>
                            <li style="list-style: circle; margin-left: 1rem;">1 Baño.</li>

                        </ul>
                    </li>
                    
                    <li>
                  
                        <div class="txt">
                              

                                <br><br>
                                <p class="Descripcion">  Descripción:</p>
                              
                                
                                Esta embarcación es la solución perfecta para la renta de yates con un diseño 
                                moderno y cómodo. Visita los cercanos destinos como Isla Venados, Piedra Blanca 
                                y el famoso El Faro de Mazatlán. 
                                Disfruta de una experiencia de lujo única con los amigos y familiares en la que podrás 
                                organizar fiestas personalizadas a tu gusto. 
                                Te esperamos a bordo para descubrir este precioso destino de una forma virtualmente 
                                irrepetible. ¡Aprovecha la oportunidad única que te ofrece Vikinga!
                                <br><br>
                                
                                

                        </div>

                    </li>


                                                      
                </ul>       
            </div>

            <div class="BTN">
                <a >Reservar vía WhatsApp</a>
            </div>

        </div>
    </div>




     <!-- BackFeed 4 -->
     <div class="BackFeed">
        
        <div class="in-flex" id="flex1">

           
            
            <!-- Carousel -->
            <ngb-carousel class="carouselChild carousel-dark">

                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="Romance" alt="">
                </ng-template>  <ng-template ngbSlide>
                                    <img class="img img-fluid" [src]="Romance2" alt="">
                                </ng-template>  <ng-template ngbSlide>
                                                    <img class="img img-fluid" [src]="Romance3" alt="">                               
                                                </ng-template>      
                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="Romance4" alt="">
                </ng-template>  <ng-template ngbSlide>
                                    <img class="img img-fluid" [src]="Romance5" alt="">
                                </ng-template>  <ng-template ngbSlide>
                                                    <img class="img img-fluid" [src]="Romance6" alt="">
                                                </ng-template>
                <ng-template ngbSlide>
                    <img class="img img-fluid" [src]="Romance7" alt="">
                </ng-template>  <ng-template ngbSlide>
                                    <img class="img img-fluid" [src]="Romance8" alt="">
                                </ng-template>
               
            </ngb-carousel>
            
        </div>
            
        <div class="in-flex">
          
            <!-- Descriptions -->
            <div id="btn" class="content">
                <h3>Trimaran Romance 40ft.</h3>
                <ul style="padding-top: 2vw;">
                  
                    <li>
                        <p class="Precio">MXN</p>
                        <div class="TxtPrecio"> 9,000/ Por 5 horas. (Sólo 5 horas). </div> 
                       
                    </li>

                    
                    <li>
                        <p class="CapacidadM">Capacidad maxima:</p>
                        <div class="TxtCapacidad"> 23 pasajeros. </div>
                    </li>
                
                    <li>
                        <ul>
                            <p class="Incluye">Incluye:</p>
                                
                            <li style="list-style: circle; margin-left: 1rem;">Acceso libre de alimentos.</li>                         
                            
                            <li style="list-style: circle; margin-left: 1rem;">Chalecos Salvavidas.</li>                          
                            <li style="list-style: circle; margin-left: 1rem;">Equipo de sonido.</li>                         
                            <li style="list-style: circle; margin-left: 1rem;">Gastos de peaje.</li>
                            <li style="list-style: circle; margin-left: 1rem;">1 Camarote.</li>
                            <li style="list-style: circle; margin-left: 1rem;">Marinero.</li>  
                            <li style="list-style: circle; margin-left: 1rem;">Capitan.</li>
                            <li style="list-style: circle; margin-left: 1rem;">Hielera.</li>     
                            <li style="list-style: circle; margin-left: 1rem;">1 Baño.</li>              
                            <li style="list-style: circle; margin-left: 1rem;">Kayac.</li>
                                                 
                        </ul>
                    </li>
                    
                    <li>
                  
                        <div class="txt">
                              

                                <br><br>
                                <p class="Descripcion">Descripción:</p>
                              
                                
                                Encontrarás una experiencia exclusiva directamente a la costa de Mazatlán. 
                                La renta de nuestro yate te permitirá vivir la vida al máximo con tus amigos 
                                y familiares. La capacidad para hasta 23 personas harán de esta una experiencia 
                                inolvidable. ¡Cambia tus momentos ordinarios por intensos! Encontrarás 
                                la magia en el corazón mismo del Mar de Cortés; Isla Venados, Piedra Blanca, 
                                el Faro de Mazatlán. Nuestro equipo te proporcionará un viaje personalizado 
                                dependiendo de tus preferencias, para que puedas disfrutar de la fiesta 
                                perfectamente organizada según tu estilo. ¡Reserva ya tu trayecto inolvidable 
                                en el trimaran custom de 40ft hoy y vive los mejores momentos de tu vida! de 
                                40ft hoy y vive los mejores momentos de tu vida!
                                <br><br>
                                
                                

                        </div>

                    </li>


                                                      
                </ul>       
            </div>

            <div class="BTN">
                <a >Reservar vía WhatsApp</a>
            </div>

        </div>
    </div>



</section>



