
section{
    width: 100%;

    //background:linear-gradient( #f8833d, #ffce00) ;
    padding-bottom: 10vw;
    padding-top:25vw;
    padding-left: 4vw;
    padding-right: 4vw;



    .BackFeed{
        margin-bottom: 20vw;
        border-radius: 4vw;
        //background:linear-gradient( #f8833d, #ffce00) ;
        //background-color: none;
        background-color: #ffffff;
      // background: linear-gradient(#ffff, rgb(183, 178, 178), #ffff);        
       display: flex;
        flex-wrap: wrap;
        padding-top: 4vw;
        padding-left: 4vw;
        padding-right: 4vw;
        padding-bottom: 6vw;

      
     

        
        //div flex
        .in-flex{
            flex: 1;
            min-width: 250px;

            ul{
                //padding-top: 4vw;
                

                li{
                    padding-bottom: 1vw;
                  
                    list-style: none;
                    text-align: left;
                    a{
                        color: black;
                        font-weight: bold;
                        text-decoration: none;
                    }
                    .txt{
                        text-align: justify;
                        margin-top: 5px;
                        margin-left: 1.3rem;
                        padding-bottom: 5px;
                    }
                   

                }
            }
           
        

            h3{
                font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
                
                margin-bottom: 1rem;
                text-align: center;
            }

            .carouselChild{
                text-align: center;
                padding-bottom: 1rem;
                
            }

            img{
                width: 100%;
            }



            p{
                font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
               
                padding-left: 3vw;
                padding-right: 2rem;
                text-align: justify;
            
            }
        
          
        
                
            .BTN{
                text-align: center;
                a{
                    margin-top: 20rem;
                    color: black;
                    padding-top: .7rem;
                    padding-bottom: .7rem;
                    padding-right: 1.5rem;
                    padding-left: 1.5rem;
                    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
                    text-decoration: none;
                    background: linear-gradient(to right, #ffce00, #f8833d);      
                    transition: .2s all ease-in;   
                }
        
                a:hover{
                    color: #ffff;
                    background: linear-gradient(to right, #f8833d, #ffce00);
        
                }
            }

        }

       
       

    }


    //see more locations button
    .read-more-state {
        display: none;

        
    }

    .read-more-target {
        opacity: 0;
        max-height: 0;
        font-size: 0;
        transition: .25s ease;
    }

    .read-more-state:checked~.read-more-wrap .read-more-target {
        opacity: 1;
        font-size: inherit;
        max-height: 999em;
    }

        
    .read-more-state~.read-more-trigger:before {
        content: 'Ver areas cercanas ↓';

    }
  
    .read-more-state:checked~.read-more-trigger:before {
        content: 'Ocultar areas cercanas ↑';
    }

    .read-more-trigger {
        cursor: pointer;
        display: inline-block;
        padding: 0 .5em;
        color: black;
        font-weight: bold;
        font-size: .9em;
        line-height: 2;
        border: none;

        margin-top: -8rem;
    }

  



    //ver mas...
    .ver-mas-state {
        display: none;
        
        
    }

    .ver-mas-target {
        opacity: 0;
        max-height: 0;
        font-size: 0;
        transition: .25s ease;
        
    }

    .ver-mas-state:checked~.ver-mas-wrap .ver-mas-target {
        opacity: 1;
        font-size: inherit;
        max-height: 999em;
     
    }

        
    .ver-mas-state~.ver-mas-trigger:before {
        content: 'Ver mas...';

    }
  
    .ver-mas-state:checked~.ver-mas-trigger:before {
        content: 'Ver menos ▲';
    }

    .ver-mas-trigger {
        cursor: pointer;
        display: inline-block;
        padding: 0 .5em;
      
        font-size: .9em;
        line-height: 2;
        
        color: black;
        font-weight: bold;
        border: none;
     
    }





    
     

    @media (max-width: 595px){
        .BackFeed{
            padding-top: 3.8vw;
            padding-left: .0vw;
            padding-right: .0vw;
        }
     
        
        
    }


}