<section class="section1">
    <div class="content">
        <h1>Hoteles</h1>
    </div>
</section>





<section class="section2">
    <div class="BackFeed">
        
        <div class="picsum-img-wrapper">
            <h3>ALO SELECT MAZATLAN</h3>
            <img [src]="url" alt="">
            <p>Alo Select Mazatlán es un hotel que se encuentra en la Zona Dorada. Sus habitaciones están equipadas con aire acondicionado, baño privado con ducha, teléfono y televisión de pantalla plana con canales por cable. Asimismo, tiene amenidades como secador de pelo, caja fuerte y radio reloj despertador. El hotel posee piscina climatizada e internet inalámbrico. Brida servicio de ama de llaves, estacionamiento y servicio de café las 24 horas. También cuenta con un restaurante ofrece desayuno continental en cortesía y un bar lounge (con cargo adicional). A 850 metros del hotel está la playa pública Camarón Sábalo. A 5 kilómetros se encuentra el Acuario Mazatlán, que exhibe a diferentes especies marinas del pacífico. El Aeropuerto Internacional de Mazatlán (MZT) está a 27 kilómetros.</p>
        
            <a >Reservar vía WhatsApp</a>

        </div>
        <br><br><br>

       

    



    
        
        <div class="picsum-img-wrapper">
            <h3>ALO SELECT MAZATLAN</h3>
            <img [src]="url" alt="">
            <p>Alo Select Mazatlán es un hotel que se encuentra en la Zona Dorada. Sus habitaciones están equipadas con aire acondicionado, baño privado con ducha, teléfono y televisión de pantalla plana con canales por cable. Asimismo, tiene amenidades como secador de pelo, caja fuerte y radio reloj despertador. El hotel posee piscina climatizada e internet inalámbrico. Brida servicio de ama de llaves, estacionamiento y servicio de café las 24 horas. También cuenta con un restaurante ofrece desayuno continental en cortesía y un bar lounge (con cargo adicional). A 850 metros del hotel está la playa pública Camarón Sábalo. A 5 kilómetros se encuentra el Acuario Mazatlán, que exhibe a diferentes especies marinas del pacífico. El Aeropuerto Internacional de Mazatlán (MZT) está a 27 kilómetros.</p>
        
            <a >Reservar vía WhatsApp</a>

        </div>
        <br><br><br>
       

    



    
        
        <div class="picsum-img-wrapper">
            <h3>AV INN HOTEL</h3>
            <img [src]="url" alt="">
            <p>
                Hotel AV INN se encuentra en la Zona Dorada de Mazatlán. Cuenta con piscina, salón de desayunos, terraza y sala de reuniones. Las habitaciones están equipadas con aire acondicionad, caja de seguridad, closet y mesa de trabajo. También dispone de teléfono, internet inalámbrico y televisión con canales por cable. A 1 cuadra de la propiedad está la entrada a la playa y a 1 kilómetro se halla el campo de golf El Cid. A 5 kilómetros se ubica el monumento a la familia y el acuario de la ciudad. El malecón de Mazatlán se localiza a 10 kilómetros y el mirador a 11 kilómetros. El Aeropuerto Internacional General Rafael Buelna (MZT) se sitúa a 26 kilómetros de distancia.
            </p>
            <a >Reservar vía WhatsApp</a>
            
        </div>
        <br><br><br>
       

    



        
        <div class="picsum-img-wrapper">
            <h3>AV INN HOTEL</h3>
            <img [src]="url" alt="">
            <p>
                Hotel AV INN se encuentra en la Zona Dorada de Mazatlán. Cuenta con piscina, salón de desayunos, terraza y sala de reuniones. Las habitaciones están equipadas con aire acondicionad, caja de seguridad, closet y mesa de trabajo. También dispone de teléfono, internet inalámbrico y televisión con canales por cable. A 1 cuadra de la propiedad está la entrada a la playa y a 1 kilómetro se halla el campo de golf El Cid. A 5 kilómetros se ubica el monumento a la familia y el acuario de la ciudad. El malecón de Mazatlán se localiza a 10 kilómetros y el mirador a 11 kilómetros. El Aeropuerto Internacional General Rafael Buelna (MZT) se sitúa a 26 kilómetros de distancia.
            </p>
            <a >Reservar vía WhatsApp</a>
            
        </div>
        <br><br><br>
       

    




        
        <div class="picsum-img-wrapper">
            <h3>AZTECA INN</h3>
            <img [src]="url" alt="">
            <p>
                Hotel Azteca Inn está situado en la Zona Dorada, una exclusiva zona turística de Mazatlán. La playa se encuentra a menos de 500 metros. El hotel cuenta con un restaurante de comida regional, además de un bar deportivo. La propiedad también cuenta con piscina, acceso a wifi gratis, un salón de eventos y centro de negocios. Azteca Inn dispone de estacionamiento privado, servicio a la habitación y alquiler de autos. Las 74 habitaciones están equipadas con aire acondicionado, televisión con canales por cable, acceso a internet inalámbrico y secadora de pelo. El Acuario de Mazatlán se encuentra a 5 kilómetros y el centro histórico a 7 kilómetros. Adicionalmente, en el área se encuentran los mejores restaurantes, clubes nocturnos, farmacias, tiendas y bancos. El aeropuerto de Mazatlán (MZT) queda a 24 kilómetros del hotel.
            </p>
            <a >Reservar vía WhatsApp</a>
            
        </div>
        <br><br><br>



        
        <div class="picsum-img-wrapper">
            <h3>AZTECA INN</h3>
            <img [src]="url" alt="">
            <p>
                Hotel Azteca Inn está situado en la Zona Dorada, una exclusiva zona turística de Mazatlán. La playa se encuentra a menos de 500 metros. El hotel cuenta con un restaurante de comida regional, además de un bar deportivo. La propiedad también cuenta con piscina, acceso a wifi gratis, un salón de eventos y centro de negocios. Azteca Inn dispone de estacionamiento privado, servicio a la habitación y alquiler de autos. Las 74 habitaciones están equipadas con aire acondicionado, televisión con canales por cable, acceso a internet inalámbrico y secadora de pelo. El Acuario de Mazatlán se encuentra a 5 kilómetros y el centro histórico a 7 kilómetros. Adicionalmente, en el área se encuentran los mejores restaurantes, clubes nocturnos, farmacias, tiendas y bancos. El aeropuerto de Mazatlán (MZT) queda a 24 kilómetros del hotel.
            </p>
            <a >Reservar vía WhatsApp</a>
            
        </div>
        
       

    </div>




 

</section>


