<div class="AboutUs">
    <div class="IMG">
        <div class="FrontSlogan">
            <h1> vacaciona seguro con club travel </h1>
        </div>
        <img class="img img-fluid" [src]="logo" alt="">
    </div>
    
    <div class="texto">
        <h1>Sobre Nosotros</h1>
    
        <p class="p1">
            Club Travel Maz
            Una manera más fácil de viajar.
        </p>
        <br>
    
        <p class="p2">
            ¿Quiénes somos?
            Somos una agencia turística con sede en Mazatlán Sinaloa, México, 100% segura, responsable y comprometida con brindarles a nuestros clientes el mejor servicio, ofreciéndole las mejores tarifas en hotelería, departamentos vacacionales, paseos/tours y renta de yates.
        </p>
        <br>
    
        <p class="p3">
            ¿Qué ofrecemos?
            Ofrecemos a nuestros clientes más de 45 hoteles en el puerto de Mazatlán donde podrán elegir el que más se ajuste a su presupuesto y/o necesidades, departamentos vacacionales, paseos/tours y reta de yates. Brindando seguridad, amabilidad y confianza en cada compra.
        </p>
    </div>
</div>

 

