.AboutUs{
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding-bottom: 20rem;
    color: rgba(255, 255, 0, 0.383);

    
    .IMG{
        padding-top: 5rem;
        background-color: rgba(128, 128, 128, 0.071);
        


        img{
            
            width: 40rem;
        }
    }


    .texto{
        background-color: black;
        text-align: justify;
        padding-bottom: 5rem;
    
        h1{
            color: white;
            text-align: center;
            text-transform: uppercase;
            padding-bottom: 2rem;
            padding-top: 2rem;
        }
    
        .p1{
            color: rgba(255, 255, 0, 0.383);
            font-size: 2rem;
            text-align: center;
            padding-top: 1rem;
            padding-bottom: 4rem;
        }
            
    
        .Tp2{
            background-color: rgba(128, 128, 128, 0.133);
            color: rgba(255, 255, 0, 0.383);
            font-size: 1.5rem;
            text-align: center;
            padding-top: 1rem;
            padding-bottom: .5rem;
        }
        .p2{
            color: white;
            font-size: 1rem;
            margin-left: 5rem;
            margin-right: 5rem;
            padding-bottom: 2rem;
            padding-top: 2rem;
            padding-left: 5px;
            padding-right: 5px;
            text-align: justify;
        }
        .p2:hover{
            color: rgba(255, 255, 0, 0.383);
            border-left: 3px solid green;
            background-color: rgba(128, 128, 128, 0.412);
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }


        .Tp3{
            background-color: rgba(128, 128, 128, 0.133);
            color: rgba(255, 255, 0, 0.383);
            font-size: 1.5rem;
            text-align: center;
            padding-top: 1rem;
            padding-bottom: .5rem;
            margin-top: 10rem;
            width: 100%;
        }
        .p3{
            color: white;
            font-size: 1rem;
            margin-left: 5rem;
            margin-right: 5rem;
            padding-bottom: 2rem;
            padding-top: 2rem;
            padding-left: 5px;
            padding-right: 5px;
            text-align: justify;
        }
        .p3:hover{
            color: rgba(255, 255, 0, 0.383);
            border-left: 3px solid green;
            background-color: rgba(128, 128, 128, 0.412);
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}


    


