.AboutUs{
    margin-top: 2rem;
    text-align: center;

    p{
       font-size: 4rem;
       color: #141d2a;
    }

    .contentAboutUs{
        margin: 3rem;
        padding: 3rem;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.638);
        -webkit-box-shadow: -20px -20px 0 0 rgba(0, 0, 0, 0.374);
        box-shadow: -20px -20px 0 0 rgba(0, 0, 0, 0.315);
    }

    button{
        border: none;
        background-color: rgba(255, 255, 255, 0);
    }    
}

.imagesAboutUs{
    background-color: rgba(0, 0, 0, 0.818);
    padding-bottom: 20rem;
    
    margin-top: 2rem;
    ul{
        padding: 2rem;
        height: 30rem;
        li{
            padding: 1rem;
            float: left;
            text-decoration: none;
            background-color: #8186d5;
           
            margin: 1rem;

        }
    }
}


ngb-carousel{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.504);
}

