<div class="AboutUs">
    <p>Sobre Nosotros</p>
    
    <div class="contentAboutUs" *ngIf="element == true">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia odit vero numquam non, harum quaerat distinctio accusamus aut adipisci molestias libero. Iste mollitia accusamus tempore possimus explicabo molestias eum ducimus.
     
    </div>

    <button *ngIf="element == false" (click)="showData()">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"  class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
          </svg>
    </button>
    <button *ngIf="element == true" (click)="hideData()">

        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"  class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
          </svg>
    </button>
    

    <div class="imagesAboutUs">
        <ngb-carousel *ngIf="url">
        
            <ng-template ngbSlide>
            
                <div class="picsum-img-wrapper">
                    <img class="img-fluid" [src]="url" alt="Random first slide" />
                </div>
                  
            </ng-template>
            
            <ng-template ngbSlide>
            
                <div class="picsum-img-wrapper">
                    <img class="img-fluid" [src]="url" alt="Random second slide" />
                </div>
                   
            </ng-template>
            
            <ng-template ngbSlide>
            
                <div class="picsum-img-wrapper">
                    <img class="img-fluid" [src]="url2" alt="Random third slide" />
                </div>
                   
            </ng-template>
            
                
                
            
        </ngb-carousel>
        


    </div>
</div>