.AboutUs{
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding-bottom: 20rem;
    color: rgba(255, 255, 0, 0.383);

    
    .IMG{
        padding-top: 5rem;
        background-color: rgba(128, 128, 128, 0.765);
        


        img{
            
            width: 40rem;
        }
    }


    .texto{
        background-color: rgba(128, 128, 128, 0.307);
        padding: 4rem;
        text-align: justify;
    
        h1{
            color: white;
            text-align: center;
            text-transform: uppercase;
            padding-bottom: 2rem;
        }
    
        .p1{
            color: white;
            font-size: 1rem;
            padding-left: 5px;
            padding-bottom: 2rem;
            padding-top: 2rem;
            padding-right: 5px;
        }
        .p1:hover{
            color: rgba(255, 255, 0, 0.383);
            padding-right: 5px;
            border-left: 3px solid green;
            background-color: rgba(128, 128, 128, 0.412);
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    
        .p2{
            color: white;
            font-size: 1rem;
            padding-left: 5px;
            padding-bottom: 2rem;
            padding-top: 2rem;
            padding-right: 5px;
        }
        .p2:hover{
            color: rgba(255, 255, 0, 0.383);
            border-left: 3px solid green;
            background-color: rgba(128, 128, 128, 0.412);
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    
        .p3{
            color: white;
            font-size: 1rem;
            padding-left: 5px;
            padding-bottom: 2rem;
            padding-top: 2rem;
            padding-right: 5px;
        }
        .p3:hover{
            color: rgba(255, 255, 0, 0.383);
            border-left: 3px solid green;
            background-color: rgba(128, 128, 128, 0.412);
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}


.prueba1 {
    
    position: absolute;
    display: flex;
    height: 15rem;
    width: 20%;
    background-color: #17141d;
    border-radius: 10px;
    border-right: 2px yellow solid;

    .title{
        padding-left: .5rem;
        padding-top: 50%;
        font-size: 1.5rem;
        text-align: center;
    }
}

.prueba2{
   
    text-align: justify;
    border-radius: 10px;
    height: 15rem;
    width: 25%;
    background-color: #17141d;
    
    p{
        text-align: justify;
        font-size: 1px
    }
    
}

.prueba2:hover{
    p{
        padding: 4rem;
        font-size: 1rem;
    }
    width: 60%;
    transition: 0.4s ease-out;
    text-align: justify;
    margin-left: 21%;
}
   
