.section1{
    background-color: #f8833d;
    height: 400px;

    .content{

        h1{
            font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
            padding-top: 4em;
            color: black;
            text-align: center;
        }
    }
}