<section>

    <div class="txt">

        <input type="checkbox" class="ver-mas-state" id="post-description" />
       
        <p class="ver-mas-wrap">
           

            <span class="ver-mas-target"> 
                

            </span>

        </p>
        <label for="post-description" class="ver-mas-trigger"></label>
        
         
    </div>








     <!--  Section "Ver areas cercanas"  -->

     <li style="list-style: none; padding-top: 2.5rem;">

        <div> 
       
        <input type="checkbox" class="read-more-state" id="post-NearLocationTwo" />
       
         
       
        <p class="read-more-wrap"><span class="read-more-target">
            <ul>
                <li>

                </li>

                <li>

                </li>

                <li>

                </li>
                
                <li>

                </li>

                <li>

                </li>

                <li>

                </li>

                <li>

                </li>

            </ul>
        
       
       </span></p>
       
       <label for="post-NearLocationTwo" class="read-more-trigger"></label>
       
       </div>
       
   </li>
</section>