<section >
    <div>
        <input type="checkbox" class="read-more-state" id="post-3" />

        <p class="read-more-wrap">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Harum quod iure earum mollitia tempora facilis culpa ullam fugiat, voluptates non velit ducimus beatae, 
            sint nesciunt suscipit quidem, delectus molestias inventore!
            
            <span class="read-more-target"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora animi consequatur incidunt quas veritatis ab ducimus, ex debitis exercitationem fugiat similique dicta repellendus adipisci quis mollitia ut deleniti odit a.</span>
            
        </p>
        <label for="post-3" class="read-more-trigger"></label>
    </div> 
    <br><br><br><br>
    <div>
        <input type="checkbox" class="read-more-state" id="post-4" />

        <p class="read-more-wrap">Esto es un....<span class="read-more-target"> DIV</span></p>

        <label for="post-4" > holas</label>
    </div> 
   
    
</section>