.introduction{
    text-align: center;
    background-color: black;

    p{
        padding: 1rem;
        color: rgba(255, 255, 0, 0.383);
    }
    
    h1{
        padding-top: 7rem;
        color: rgba(255, 255, 0, 0.383);
    }
}




.containerInf{
    background-color: black;
    padding-bottom: 20rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 4rem;
    margin-top: -1rem;
    

    
    .title{
        text-align: center;
        border: 4px solid rgba(128, 128, 128, 0.307);
    }
    
    ngb-carousel{
        text-align: center;
        background-color: rgba(128, 128, 128, 0.307);
    }

    .btnW{
        background-color: rgba(128, 128, 128, 0.634);
        text-align: center;
    
        
        width: 100%;
        color: yellow;
        padding: 1rem;
        text-decoration: none;
        display: flex;
        text-align: center;

        transition: all .5s;

        
            
         
        svg{
            color: yellow;
            margin-left: .5rem;
        }
            
        
        
    }

    
    .btnW:hover{
        background-color: rgba(128, 128, 128, 0.135);
        border-top: 2px solid yellowgreen;
    }
 
}


.content{
    margin-bottom: 3rem;
}

