.introduction{
    text-align: center;
    background-color: black;

    p{
        padding: 1rem;
        color: rgba(255, 255, 0, 0.383);
    }
    
    h1{
        padding-top: 7rem;
        color: rgba(255, 255, 0, 0.383);
    }
}








.folder{
    display: flex;
    height: 280px;
    width: 17%;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
 
    transition: 0.4s ease-out;
    position: absolute;
 
}
  
  .container {
    padding-top: 4rem;
    display: flex;
    background-color: black;
  }
  
  .card {
    padding-right: 7rem;
    display: flex;
    height: 280px;
    width: 17%;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    position: relative;
    left: 4rem;
    p{
        text-align: justify;
        position: absolute;
        padding-right: 7rem;
    }
    
  }
  
  
  
  .card:hover {
    transform: translateX(6.5rem);
    transition: 0.4s ease-out;
    padding-left: 60%;
    left: 5rem;
  }
  
 
  
  .title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
  }
  
  .bar {
    position: absolute;
    
    
    
  }
  
  