/* You can add global styles to this file, and also import other style files */
body{
   // background-color: #f8833d;
    background-repeat: no-repeat;
    background:linear-gradient( #f8833d, #ffce00) ;    width: 100%
    

}
@media  (max-width: 991px){
    body{
        background-repeat: no-repeat;
        background:linear-gradient( #f8833d, #ffce00) ;    width: 100%
    }
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
